<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssafy.enjoytrip.myplan.model.dao.MyPlanDao">
	
		<insert id="addPlan" parameterType="MyPlanDto">
		insert into myplan(contentId,
		userId, firstImage, addr1, title, latitude, longitude, travelTime)
		values(#{contentId}, #{userId}, #{firstImage}, #{addr1}, #{title}, #{latitude}, #{longitude}, #{travelTime})
	</insert>

	<select id="getPlanList" parameterType="String"
		resultType="MyPlanDto">
		select *
		from myplan
		where userId=#{userId}
		order by travelTime
	</select>
	
</mapper>