<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ssafy.enjoytrip.myplan.model.dao.MyPlanDao">
	
	
		<insert id="joinMember" parameterType="MemberDto">
		insert into member(userId,
		userName, userPwd, emailId, emailDomain)
		values(#{userId}, #{userName},
		#{userPwd}, #{emailId}, #{emailDomain})
	</insert>

	<select id="getMemberById" parameterType="String"
		resultType="MemberDto">
		select userId, userName, userPwd, emailId, emailDomain,
		joinDate
		from member
		where userId=#{id}
	</select>
	
</mapper>